* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

:root {
  --black: #1a1a1a;
  --white: #ffffff;
  --grey: #ced3d9;
  --pink: #a91b75;
  --blue: #1b75a9;
  --lightBlue: #339fde;
}

body {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  display: block;
}

/* ########## FONTS ########## */
h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  width: 100%;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  font-size: 1.75rem;
}

.headline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

p {
  line-height: 1.75rem;
}

a {
  line-height: 2rem;
  text-decoration: none;
  color: var(--lightBlue);
  font-weight: 700;
}

a:hover {
  cursor: pointer;
  color: var(--blue);
}

/* ########## HEADER ########## */
header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: var(--white);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 1.5rem 2rem;
  background-color: var(--black);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 9rem;
}

.nav-item {
  margin-left: 4rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
}

.nav-link:hover {
  color: var(--blue);
}

/* ########## HERO-SECTION ########## */
.hero-section {
  width: 100%;
  height: 90dvh;
  color: var(--white);
  display: grid;
  place-content: center;
  text-align: center;
}
/* ########## ABOUT-SECTION ########## */
.about-section {
  width: 100%;
  padding: 3rem 2rem;
  text-align: center;
}

.content-container {
  margin: 3rem 0rem;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--blue);
  margin-bottom: 2rem;
}

.image-container img {
  padding: 1.5rem;
}

.question-container {
  margin-bottom: 1.25rem;
}

.question {
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
  font-weight: 600;
}

.techstack-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.stack-logo {
  width: 75px;
}
/* ########## PROJECT-SECTION ########## */
.project-section {
  padding: 10rem 2rem;
}

.project-card-grid {
  margin-top: 5rem;
}

.project-card {
  width: 100%;
  border: 2px solid var(--grey);
  border-radius: 0.3rem;
  -webkit-box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 3rem;
}

.project-card-image-container {
  width: 100%;
  height: 20rem;
  padding: 0.5rem;
}

.project-card-image-container img {
  height: 100%;
  object-fit: cover;
}

.project-card-image-container img {
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  width: 100%;
}

.project-card-info {
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.project-card-info h4 {
  text-transform: uppercase;
  color: var(--pink);
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.technologies {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.1rem;
}

.technologies-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding-top: 1rem;
}

.technologie-badge {
  color: var(--white);
  background-color: var(--pink);
  padding: 0.3rem 0.75rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  display: grid;
  place-content: center;
}

.actions-container {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.actions-container a {
  border-radius: 0.3rem;
  border: 1px solid var(--pink);
  background-color: white;
  color: var(--black);
  transition: all 250ms;
  padding: 0rem 1rem;
  font-weight: 400;
  font-size: 0.875rem;
}

.actions-container a div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.actions-container a ion-icon {
  font-size: 1.25rem;
}

.actions-container a:hover {
  cursor: pointer;
  background-color: var(--pink);
  color: var(--white);
}
/* ########## FOOTER-SECTION ########## */
.footer {
  padding: 2.5rem;
  background-color: var(--black);
  color: var(--white);
}

.footer-links-container {
  margin-bottom: 2.5rem;
}

.footer-links-container div:first-of-type {
  margin-bottom: 1.5rem;
}

.footer h3 {
  color: var(--lightBlue);
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.footer ul {
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
}

.footer a:hover {
  cursor: pointer;
  color: var(--blue);
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-container ion-icon {
  font-size: 1.25rem;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.logo-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.logo {
  width: 12rem;
}

/* ########## RESPONSIVE ########## */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4rem;
    flex-direction: column;
    background-color: var(--black);
    width: 100%;
    z-index: 2;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (min-width: 769px) {
  html {
    font-size: 16px;
  }

  .navbar {
    padding: 1.5rem 10%;
  }

  h1 {
    font-size: 4rem;
  }

  .about-section {
    padding: 3rem 10%;
    text-align: left;
  }

  .image-container {
    min-width: 30rem;
    max-width: 32rem;
  }

  .content-container {
    margin-top: 7rem;
    display: flex;
    gap: 5rem;
  }

  .techstack-container {
    gap: 3.5rem;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .stack-logo {
    width: 90px;
  }

  .project-section {
    padding: 7rem 10%;
  }

  .project-card-grid {
    margin-top: 8rem;
  }

  .footer {
    display: flex;
    padding: 2.5rem 10%;
    align-items: flex-start;
  }

  .footer-links-container {
    margin-bottom: 0;
    margin-right: 5rem;
  }

  .logo-container {
    margin-top: 0;
    margin-left: auto;
  }

  .logo {
    width: 15rem;
  }
}

@media screen and (min-width: 1000px) {
  .project-card {
    display: flex;
    max-width: 70rem;
    margin-bottom: 6rem;
  }

  .project-card:nth-of-type(2) {
    margin-left: auto;
  }

  .project-card-image-container {
    height: 20rem;
  }
}
