* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

:root {
  --black: #1a1a1a;
  --white: #ffffff;
  --grey: #ced3d9;
  --pink: #a91b75;
  --blue: #1b75a9;
  --lightBlue: #339fde;
}

body {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  display: block;
}

/* ########## FONTS ########## */
h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.headline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

p {
  line-height: 1.75rem;
}

a {
  line-height: 1.75rem;
}

/* ########## HEADER ########## */
header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: var(--white);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 1.5rem 2rem;
  background-color: var(--black);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 11rem;
}

.nav-item {
  margin-left: 4rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
}

.nav-link:hover {
  color: var(--blue);
}

/* ########## HERO-SECTION ########## */
.hero-section {
  width: 100%;
  height: 90dvh;
  color: var(--white);
  display: grid;
  place-content: center;
  text-align: center;
}
/* ########## ABOUT-SECTION ########## */
.about-section {
  width: 100%;
  padding: 3rem 2rem;
  text-align: center;
}

.about-section h3 {
  margin: 3rem 0rem;
}

.image-container {
  width: 100%;
  height: 100%;
  margin: 2rem 0rem;
  position: relative;
  color: var(--blue);
}

.image-container img {
  padding: 1.5rem;
}

.techstack-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.stack-logo {
  width: 80px;
}
/* ########## PROJECT-SECTION ########## */

/* ########## FX ########## */
.word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: word 7000ms infinite ease-in-out;
}

.word:nth-child(1) {
  animation-delay: 3500ms;
}

@keyframes word {
  0%,
  5%,
  100% {
    filter: blur(0px);
    opacity: 1;
  }
  35%,
  65% {
    filter: blur(1em);
    opacity: 0;
  }
}

.underline {
  background-image: linear-gradient(90deg, var(--pink), var(--blue));
  background-position: bottom;
  background-size: 100% 30%;
  background-repeat: no-repeat;
}
/* ########## FOOTER-SECTION ########## */
.footer {
  padding: 2.5rem;
  background-color: var(--black);
  color: var(--white);
}

.footer-links-container {
  margin-bottom: 2.5rem;
}

.footer-links-container div:first-of-type {
  margin-bottom: 1.5rem;
}

.footer h3 {
  color: var(--lightBlue);
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.footer ul {
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.logo {
  display: grid;
  place-content: center;
  width: 5rem;
  height: 5rem;
  border: 3px solid white;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--lightBlue);
}

/* ########## ANIMATIONS ########## */

/* ########## RESPONSIVE ########## */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4rem;
    flex-direction: column;
    background-color: var(--black);
    width: 100%;
    z-index: 2;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
